body{
    background-color: #e0d3cd;
    color: #696969;
    font-family: sans-serif;
    font-size: 18px;
}

button, input{
    font-size: 18px;
    padding: 8px 10px;
}
.input-characters{
    width: 300px;
    border-radius: 15px;
    padding: 8px 14px;
    border-style: none;
    margin-right: 50px;
}


.logo{
    width: 400px;
    height: 100px;
    display: block;
    margin: 0 auto;
}

.menu{
    display: block;
}
.menu ul{
    display: flex;
    justify-content: center;
}

.menu ul button{
    cursor: pointer;
}


.btn{
    display: block;
    margin: 10px;
    width: 20%;
    padding: 8px 16px;
    border-radius: 10px;
    border: 1px solid grey;
}

#SeccionPersonaje{
    display: none;
}

#SeccionEpisodio{
    display: none;
}

.infor{
    display: block;
    margin: auto;
}

/* .infoGlobal{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
} */

.infoGlobal{
    margin-top: 30px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, .3fr);
    grid-template-areas: "sub_recuadro sub_recuadro sub_recuadro";
    justify-content: space-around;
    
}

.sub_recuadro{
    grid:sub_recuadro;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    background: #524B4B;
    color: #eee;
    border-radius: 10px;
    margin-top:50px;
    padding: 40px 60px;
}
.sub_recuadro:hover{
    /* box-shadow: 2px 2px 5px 10px 10px grey ; */
    box-shadow: 5px 10px 10px 10px grey;
}

.box-name{
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 700;
}

.sub_recuadro img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.img-per{
    width: 75%;
    height: 30vh;
    
}

/* .infoCapitulos{
    
} */